header {
  color: #654531;
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}
.recipe-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1.2rem;
  color: #654531;
  font-size: 25px;
  font-weight: bold;
  margin-top: 2rem;
}

.recipe-items {
  width: 30%;
  padding: 1rem;
  background-color: #f1f1f1;
  border-radius: 10px;
  margin-bottom: 1rem;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.selected-recipe {
  margin: 20px auto;
  width: 100%;
  max-width: 800px;
}
.selected-recipe h2 {
  font-size: 2rem;
  color: #654531;
}

.selected-recipe-content {
  display: flex;
  gap: 20px;
}

.selected-recipe-content h3 {
  margin-top: 0;
  color: #654531;
  font-size: 1rem;
  text-transform: uppercase;
}

.selected-recipe-content p {
  font-size: 1rem;
  line-height: 150%;
  margin: 0;
}
